<!DOCTYPE html>
<html lang="vi">
    <%- include("partials/head") %>

<body>

  <!-- Include Header -->


  <!-- Main Content -->
 
  

  <!-- Include Footer -->
  <%- include('partials/footer') %>

</body>

</html>
